h1{
	color: goldenrod;
	background: Black;
	border: dashed;
	font-size: 3em;
	text-align: center;
}
h2{color: indianred;
font-size: 25px
}
h3{text-align: center;}
li{font-size: 30px;
color: goldenrod;
text-align: left;}
p{font-size: 30px;
text-align: left;
border-style: dotted;
border-color: goldenrod;
}
html{color-scheme: Black
}
body{color: goldenrod;
background-color: black;
} 
